:root{
    --header-background:#213029;
    --accent-color: #CD7F32;
    --main-background-two: #3B5447;
    --svg-color: #BD550F;
    --main-background-three: #EBEBEB;
}

/* header */

.logo{
    margin: 20px 0px;
    font-family: 'Coda', cursive;
    color: var(--accent-color);
    font-size: calc(38px + (46 - 38) * ((100vw - 300px) / (1600 - 300)));;
    font-weight: 800;
}

.header-bar{
    background: var(--header-background);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, #213029 10%);
}

.header .btn{
    padding: 4px 8px;
}

.header-nav{
    margin-bottom: 25px;
}

.header .nav-link {
    background: none;
    border: none;
}

.header .nav-link{
    margin-top: 50px;
    color: white;
    background: var(--header-background);
    font-family: 'Teko', sans-serif;
    font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));;
}

.header a:hover{
    transition: ease 0.5s;
    background: beige;
    color: black;
    font-weight: bolder;
}


/* end of header */

/* Main */
.video-div{
    position: relative;
    height: calc(160px + (855 - 160) * ((100vw - 300px) / (1600 - 300)));;
    /* margin-bottom: 15px; */
}

.main p {
    color: black;
}

.video-bg-main{
    width: 100%;
    height: auto;
    z-index: -2;
    position: absolute;
    top: 0%;
}

.position-div-text{
    position: absolute;
    bottom: 0px;
    left: 30%;
    border: 2px solid black;
    background: rgb(255, 255, 255, .60);
    /* border-top-right-radius: 10px; */
    width: 40%;
    /* height: 75px; */
    z-index: -1;
}


.header-main{
    color: black;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    z-index: 2;
    font-size: calc(13px + (56 - 13) * ((100vw - 300px) / (1600 - 300)));
}


.bio{
    color: black;
    z-index: 2;
    font-family: 'Coda', cursive;
    font-size: calc(8px + (20 - 8) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 600;
}

.section-main-two{
    background-color: #3B5447;
    margin-top: calc(0px + (32 - 0) * ((100vw - 300px) / (1600 - 300)));;;
}

.riot-card{
    position: relative;
    width: calc(200px + (350 - 200) * ((100vw - 300px) / (1600 - 300)));;
    height: calc(300px + (500 - 300) * ((100vw - 300px) / (1600 - 300)));;;
    background-color: #EBEBEB;
    margin: 20px 0px;
    z-index: 1;
    border-left: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    box-shadow:0px 8px 2px -2px black;
    
}

/* sourced https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */

.top-right-slant{
    width: 0%;
    height: 0%;
    position: absolute;
    top: -1px;
    right: -1px;
    border-top: calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300))) solid #3B5447;
    border-left:calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300))) solid transparent;
}

.svg-div{
    width: calc(95px + (150 - 95) * ((100vw - 300px) / (1600 - 300)));;
    /* calc(30px + (60 - 30) * ((100vw - 300px) / (1600 - 300)));; */
    position: absolute;
    left: 28%;
    top: 10%;
    z-index: 3;
}

svg {
    /* fill: #CD7F32; */
    fill: var(--svg-color);
}

.riot-card-img{
    border-radius: 50%;
    width: 78%;
    position: absolute;
    top: 15%;
    left: 11%;
    z-index: -1;
}

.about-img{
    margin: 20px 0px;
}

.about-text{
    font-family: 'Merriweather', serif;
    font-size: calc(14px + (24 - 10) * ((100vw - 300px) / (1600 - 300)));
}

@media (min-width:1000px) {
    .about-text{
        margin: 10% 0px 0px 0px;
    }
}

.info{
    /* position: absolute; */
    left: 5%;
    top: 50%;
    /* width: 170px; */
    margin-top: 65%;
    font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300)));;;
}

.header-riot, .title{
    margin: 0px;
}

.header-riot{
    font-family: 'Coda', cursive;
    font-weight: 500;
}

.title{
    font-family: 'Coda', cursive;
    font-weight: 400;
    font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));;
}
.short-bio{
    /* position: absolute; */
    bottom: 5%;
    left: 0%;
    font-family: 'Merriweather', serif;
    font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));;;
    margin-top: 20px;
    padding: 0px 50px;
    font-weight: 600;
}

.section-main-three{
    background-color: #EBEBEB;
}

.section-main-three .header-main{
    font-family: 'Teko', sans-serif;
    font-size: calc(34px + (50 - 34) * ((100vw - 300px) / (1600 - 300)));
}

.project{
    margin: 15px 0px;
}

.img-shadow{
    box-shadow: 3px 3px 5px 6px black;
}

.project-button{
    margin-top: 30px;
}

.project-button{
    color: black;
    font-weight: bolder;
    background: #EBEBEB;
    font-family: 'Source Code Pro', monospace;
}

.main button:hover{
    transition: ease 0.5s;
    background: #213029;
    color: white;
    font-weight: bolder;
}
/* end of main */

.footer a{
    color: lightgray;
    font-family: 'Teko', sans-serif;
    font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));;;
}

.section-footer-one{
    background-color: #293D34;
}

.contacts{
    color: white;
}

.footer-header{
    margin: 10px 0px;
    font-family: 'Coda', cursive;
    color: whitesmoke;
}

.footer-nav{
    margin: 10px 0px;
    padding: 0;
}
/* .footer-link {
    color: white;
} */

.certifications-list{
    list-style-type: none;
    padding: 0px;
}

.section-footer-two{
    background-color: var(--header-background);
}

/* Icon Stuff */

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon{
    font-size: 28px;
    margin: 10px 0px;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
    font-size: 32px;
    color: red;
}
  ========================================== */